html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0;
}

span.action {
  margin-right: 5px;
}

a {
  color: black;
  text-decoration: underline;
  margin-right: 5px;
  cursor: pointer;
}

span.action a {
  margin-right: 0;
}

a:hover {
  text-decoration: none;
}

.goback {
  margin: 10px 0;
}

table {
  margin: 10px 0;
  width: 100%;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 5px;
  border: 1px solid black;
}

footer {
  font-size: 0.75em;
}

footer a {
  color: black;
}

input,
select {
  margin-right: 5px;
}

select {
  padding: 1px;
}

.bold {
  font-weight: bold;
}

.right-text {
  text-align: right;
}

.welcome {
  padding: 50px 0 100px 0;
  text-align: center;
}

.welcome h2 {
  margin-bottom: 50px;
}

header {
  background-color: white;
  border-bottom: 1px solid darkgray;
}

header h1 {
  margin: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  background-color: #fbfbfb;
}

.focus {
  color: red;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.popup {
  max-width: 500px;
  margin: 70px auto;
  padding: 10px 0;
  background-color: white;
  position: relative;
}

.popup h4 {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid darkgray;
}

.popup .header a.close {
  float: right;
  padding: 0 10px;
  text-decoration: none;
}

.popup p {
  margin-bottom: 10px;
  padding: 0 10px;
}

.popup .actions {
  text-align: right;
  padding: 0 10px;
}

.popup .actions a {
  margin-left: 10px;
}
