html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px 0;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0;
}

a {
  text-decoration: underline;
  margin-right: 5px;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

.goback {
  margin: 10px 0;
}

table {
  margin: 10px 0;
  width: 100%;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 5px;
  border: 1px solid black;
}

footer {
  font-size: 0.75em;
}

footer a {
  color: black;
}

input,
select {
  margin-right: 5px;
}

select {
  padding: 1px;
}

.bold {
  font-weight: bold;
}

.right-text {
  text-align: right;
}

.welcome {
  padding: 50px 0 100px 0;
  text-align: center;
}

.welcome h2 {
  margin-bottom: 50px;
}

header {
  background-color: white;
  border-bottom: 1px solid darkgray;
}

header h1 {
  margin: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  background-color: #fbfbfb;
}
